@using ShelterBookingApp.Shared.Models
@using Blazored.Modal
@using Blazored.Modal.Services
@inject HttpClient Http;

<div>
    <ModalHeader>
        <h4 class="modal-title">Booking information for</h4>
    </ModalHeader>
    <ModalContent>
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Booking Id</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Booke Name</th>
                <th>Bookee Address</th>
                <th>Bookee Phone</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var booking in Bookings)
            {
                <tr>
                    <td>@booking.ObjectId</td>
                    <td>@booking.StartDate</td>
                    <td>@booking.EndDate</td>
                    <td>@booking.BookeeName</td>
                    <td>@booking.BookeeAddress</td>
                    <td>@booking.BookeePhone</td>
                </tr>
            }
            </tbody>
        </table>
        </div>
    </ModalContent>
    <ModalFooter>
    </ModalFooter>
</div>


@code {
    
    [Parameter]
    public string ShelterId { get; set; }


    private List<Booking>? Bookings { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Get bookingslist from client ");
        Bookings = await Http.GetFromJsonAsync<List<Booking>>($"https://localhost:7269/api/Booking/{ShelterId}");
    }


}